[project]
	description = Test suite for Decred integrations with the TREZOR hardware wallet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Banik (peterzen)
[access "refs/for/refs/*"]
	read = group user/Peter Banik (peterzen)
	push = group user/Peter Banik (peterzen)
	label-Code-Review = -2..+2 group user/Peter Banik (peterzen)
	label-Verified = -1..+1 group user/Peter Banik (peterzen)
	rebase = group user/Peter Banik (peterzen)
	removeReviewer = group user/Peter Banik (peterzen)
	submit = group user/Peter Banik (peterzen)
[access "refs/heads/*"]
	read = group user/Peter Banik (peterzen)
	create = group user/Peter Banik (peterzen)
	push = +force group user/Peter Banik (peterzen)
	pushMerge = group user/Peter Banik (peterzen)
[access "refs/tags/*"]
	push = group user/Peter Banik (peterzen)
	push = +force group user/Peter Banik (peterzen)
